.decompte{
  font-family: 'Poppins', sans-serif;
  width: 100%;
  margin: 50px 0 0 0;
  h2{
    font-size: 1.375rem;
    font-weight: 300;
    margin: 0;
    text-align: center;
  }
  .chiffre{
    font-weight: 700;
    font-size: 1.5rem;
  }
  .minuterie{
    display: flex;
    justify-content: space-between;
  }
  .minuterie div{
    width: 90px;
    height: 71px;
    text-align: center;
  }
}