.header-page{
  position: absolute;
  width: 100%;
  background: rgba(255,255,255,0.95);
  padding: 25px;
  li{
    list-style: none;
    font-weight: 600;
  }
  ul{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
  }
  .compagnie h1{
    margin: 0;
    font-size: 1.5rem;
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    text-transform: inherit;
  }
}




//@media screen and (max-width: 414px){
  .header-page{
    .compagnie h1{
      margin: 0 0 15px 0;
    }
    ul li:nth-child(3){
      order: -1;
    }
    ul{
      text-align: center;
    }



  }
//}
@media screen and (min-width: 768px){
  .header-page{
    .compagnie h1{
      margin: 0;
    }
    ul li:nth-child(3){
      order: 0;
    }
    ul{
      text-align: center;
    }
    ul{
      align-items: center;
      max-width: 75%;
      text-align: center;
      flex-direction: row;
      justify-content: space-between;
      margin: auto;
    }



  }
}
