.hero{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  h2{
    font-size: 1.375rem;
    text-transform: inherit;
    margin: 0;
    text-shadow: 3px 2px 2px rgba(0,0,0,0.25);
  }
  height: 570px;
  background: url("../../images/hero.jpg") center;
  background-size: cover;
}

@media screen and (min-width: 768px){

  .hero{
    h2{
      font-size: 3rem;
    }

  }
}